{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/" role="button">Get Started</a>
      <p class="meta">Open-source AGPLv3 Licensed. <a href="https://github.com/green-coding-solutions/green-metrics-tool">GitHub</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Containerized approach</h2>
        <p></a>Measurements on container level by default.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Distributed Measurement</h2>
        <p>On simple remote machines or in Kubernetes clusters (in development)</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Reusable infrastructure</h2>
        <p>Reuse your existing infrastructure as code as best as possible. Dockerfiles, docker-compose (sub-set), Puppeteer files</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">UNIX style tooling</h2>
        <p>Metrics are reported by reusable, lightweight UNIX style metric reporters that do only one job.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Web Interface</h2>
        <p>Bundled with charts, tables and comparisons for your data in neat web interface.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Open Data API</h2>
        <p>Self documenting FastAPI integrated.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
