/** Custom variables */

// Light mode
$primary: yellow;


$body-bg-dark: #212529;

    .navbar,
    .doks-subnavbar {
        background-color: #212529 !important;
        border-bottom: 1px solid $border-dark;
    }

$body-color-dark: #dee2e6;